services:
  build-sandbox:
    build:
      context: ./docker/SandBox
      dockerfile: SandBox.buildkit.Dockerfile
    image: deeppresenter-sandbox:lastest
    profiles:
      - build-only

  deeppresenter-host:
    build:
      context: ./docker/Host
      dockerfile: Host.Dockerfile
    image: deeppresenter-host:latest
    container_name: deeppresenter-host
    ports:
      - "7861:7861"
    environment:
      DEEPPRESENTER_HOST_WORKSPACE_BASE: ${PWD}/workspace
      DEEPPRESENTER_WORKSPACE_BASE: /opt/workspace
      DEEPPRESENTER_LOG_LEVEL: 0 # 0: debug, 10: info, 20: warning
    volumes:
      - ./workspace:/opt/workspace
      - ./deeppresenter:/usr/src/pptagent/deeppresenter
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  deeppresenter_workspace:
